.ceil {
    font-weight: 500;
    color: #fff;    
}

.container.active {
    background: #a62d3f;
}

.container {
    padding: 5px 10px;
    margin-bottom: 20px;
    width: 50px;
    background: #2d50a5;
    text-align: center;
    border-radius: 3px;
}